
* {font-family: Pretendard,'Noto Sans KR', sans-serif;}

/* reset */
html,body { height:100%; }
body,div,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,button,input { margin:0; padding:0; }
h1,h2,h3,h4 { font-size:12px; }
ul,li,ol { list-style:none; padding: 0;}
img,fieldset,iframe { border:0; }
img { vertical-align:top; }
table { border-collapse:collapse; }
a {text-decoration: none;}


.blind { position:absolute; top:-9999px; }



.skip_navigation a { 
	position:absolute; left:0px; top:-9999px; z-index:1001;
	color:white; background:black; padding:5px;
}
.skip_navigation a:focus { top:0; }

/* layout */
#header {position: fixed; z-index: 10001; width: 100%; height: 100px; background-color: rgba(0,0,0,0.3);}

#visual {background-color:hotpink;}


#footer {background-color: #222; height: 659px;}



/* header */
#header .inner {position: relative; margin: 0 auto; /*border: 2px solid yellow; */
                width: 1280px; height: 100px;}
#header .inner h1 {position: absolute; left: 0; top: 14px;}

#header .inner .gnb > ul {width: 640px; display: flex; justify-content: space-between; 
                        position: absolute; left: 310px; top: 47px;/* border: 2px solid blue;*/}
#header .inner .gnb .main {width:160px;/* border: 2px dashed hotpink;*/}
#header .inner .gnb ul li a {color: white; font-size: 16px;}
#header .inner .gnb ul li a:hover {opacity: 0.7;}

#header .inner .search {position: absolute; right: 0; top: 44px; display: flex;}
/* #header .inner .search li {border: 2px solid yellow;} */
#header .inner .search #t1 {background: none; border:0; border-bottom:2px solid #ccc;
                            width: 176px; height: 22px; color: white; outline: none;}
#header .inner .search input {float: left;}
#header .inner .search .icon {opacity: 0.7; margin-right: 20px;}
#header .inner .search a .icon{margin-right: 0;}
#header .inner .search .icon:hover {opacity: 1;}


#header .inner .gnb .main .sub {color: white;  line-height: 35px;
height: 453px;/* border: 2px dashed hotpink;*/ }
#header .inner .gnb .main .sub li:first-child{/*border: 2px dashed yellow;*/ padding-top: 70px; }
#header .inner .gnb .sub li a {font-weight:300; font-size:14px; }

#header .inner .gnb:hover .sub { height:453px;}

#header .inner .gnb:hover .gnb_bg { height:453px; }


#header .inner .gnb_bg { 
    position: fixed;
	width:100vw; 
	left:0px;
     top:100px;
	z-index:-100;
    height: 453px; 

	background-color:rgba(0,0,0,0.77);
}


/* visual */
#visual img{width: 100%;}


/* contents */
#contents .contents1 {background-color: white; height: 596px;}
#contents .contents2 {background-color: #b4b4b4; height: 972px;}
#contents .contents3 {background-color: black; height: 775px;}


#contents .contents1 .inner1,
#contents .contents2 .inner2,
#contents .contents3 .inner3 {width: 1280px; margin: 0 auto;}


#contents .contents1 .inner1 h3{text-align: center; font-size: 18px; margin-top: 119px; margin-bottom: 33px; color: #333;}
#contents .contents1 .inner1 li a:hover {opacity: 0.5;}

#contents .contents1 .inner1 .con1 {display: flex; flex-wrap: wrap; justify-content: space-between;}
#contents .contents1 .inner1 .con1 p {text-align: center; font-size: 16px; line-height: 30px; color: #333;}
#contents .contents1 .inner1 .con1 p span{ font-weight: 600;}


#contents .contents2 .inner2 h3 {text-align: center; font-size: 18px; padding-top: 119px; color: #333; line-height: 30px; margin-bottom: 35px;}
#contents .contents2 .inner2 h3 span {font-size: 11px;}
#contents .contents2 .inner2 .con2 {display: flex; flex-wrap: wrap; justify-content: space-between;}
#contents .contents2 .inner2 .con2 li {/*border: 2px solid blue; */width: 380px;  background-color: white; }
#contents .contents2 .inner2 .con2 li:hover {filter: brightness(1.2);}

#contents .contents2 .inner2 .con2 p {/*border: 2px solid yellow;*/
   padding: 30px 65px; text-align: center; color: #333; line-height: 24px;}
#contents .contents2 .inner2 .con2 p strong {display:block; font-size: 14px; font-weight: 600; margin-bottom: 24px;}




#contents .contents3 .inner3 h3 {color: white; font-size: 18px; text-align: center; 
                        line-height: 30px; padding-top: 119px; padding-bottom: 33px;}
#contents .contents3 .inner3 h3 span {font-size: 11px;}
    
#contents .contents3 .inner3 .con3 {display: flex;}
#contents .contents3 .inner3 .con3 .tabbox {position: relative;}

#contents .contents3 .inner3 .tab1 { display: block;
    font-size: 16px; color: black ; font-weight: 600; float: left; margin-left: 49px; background-color: white; width: 162px; height: 65px;
    border-top-left-radius: 40px;border-top-right-radius: 40px; text-align: center; line-height: 65px;}

#contents .contents3 .inner3 .tab2 { display: block;
    font-size: 16px; color: white ; font-weight: 600; color: white; margin-left: 210px; background-color: #8c8c8c; width: 162px; height: 65px;
     border-top-left-radius: 40px;border-top-right-radius: 40px; text-align: center; line-height: 65px;}



#contents .contents3 .inner3 .box1 {background-color: white; width: 448px; height: 378px; 
    margin-left: 49px; border-top-right-radius: 40px;border-bottom-left-radius: 40px;}

#contents .contents3 .inner3 .box1 li {color: #646c5f; line-height:24px ; margin-bottom: 30px;
margin-left: 44px; margin-right: 55px;}

#contents .contents3 .inner3 .box1 li a {color: #646c5f;}
#contents .contents3 .inner3 .box1 li a:hover {color: black;}

#contents .contents3 .inner3 .face{position: absolute; left: 380px; top:340px ; width: 140px; height: 140px;}


#contents .contents3 .inner3 .box2 {background-color: white; width: 448px; height: 378px; 
    margin-left: 49px; border-top-right-radius: 40px;border-bottom-left-radius: 40px;}

#contents .contents3 .inner3 .box2 li {color: #666; line-height:24px ; margin-bottom: 30px;
margin-left: 44px; margin-right: 55px;}

#contents .contents3 .inner3 .box2 li a {color: #666;}
#contents .contents3 .inner3 .box2 li a:hover {color: black;}

#contents .contents3 .inner3 .twit{position: absolute; left: 370px; top:330px ; width: 160px; height: 160px;}


/* footer */
#footer .inner {width: 1280px; margin: 0 auto;}
#footer .inner .sitemap {display: flex; justify-content: space-between; padding-top: 80px;}
#footer .inner .sitemap h3 {color: white; font-size: 16px; line-height: 30px; font-weight: 600;}
#footer .inner .sitemap a {color: white; font-size: 14px; line-height: 36px;}
#footer .inner .sitemap a:hover {color: #b4b4b4;}
#footer .inner .sitemap .detail {color: white; font-size: 16px; line-height: 30px; height: 16px;}

#footer .inner .site ul{ display: flex; width: 380px; justify-content: space-between; margin: 0 auto; margin-top: 59px; margin-bottom: 20px;}
#footer .inner .site  ul img:hover {opacity: 0.5;}

#footer .inner .site p {color: #8c8c8c; font-size:12px; text-align: center; width: 600px; margin-left: 330px;}
#footer .inner .site .footerlogo {margin-left: 587px; margin-top: 10px;}



/*sub페이지*/

/*sub1*/

#subvisual img{width: 100%;}

#container .container1 {background-color: white; height: 1100px;}
#container .container2 {background-color: #f4f4f4; height: 1100px;}

#container .container1 .inner1,
#container .container2 .inner2 {width: 1280px; margin: 0 auto;}

#container .container1 .inner1 h3 {font-size: 18px; text-align: center; padding-top:79px; margin-bottom: 47px;}

#container .container1 .inner1 .ca {display: flex;}
#container .container1 .inner1 .ca1:hover {background-color: #e4e4e4;}
#container .container1 .inner1 .ca2:hover {background-color: #e4e4e4;}
#container .container1 .inner1 .ca3:hover {background-color: #e4e4e4;}
#container .container1 .inner1 .ca .ca1,
#container .container1 .inner1 .ca .ca2,
#container .container1 .inner1 .ca .ca3 {display: block; font-size: 16px; width: 427px; line-height:51px; text-align: center;
border:0; border-right: 1px solid #eee; font-weight: 600;box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;}
#container .container1 .inner1 .ca a{color: #333;}

#container .container1 .inner1 table {width: 1280px; height:142px; }
#container .container1 .inner1 table tr {border:0; border-bottom:1px solid #333; height:51px; text-align: center;}
#container .container1 .inner1 table td {width: 427px;}

#container .container1 .inner1 .category {display: flex; justify-content: space-between;  padding-top: 74px;}
#container .container1 .inner1 .category img {border-radius: 70px;}
#container .container1 .inner1 .category img:hover { box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
#container .container1 .inner1 .category a {font-size: 16px; color: #333333; text-align: center; line-height: 30px;}
#container .container1 .inner1 .category p {padding-top: 21px; }
#container .container1 .inner1 .category a span {font-weight: 800;}


#container .container2 .inner2 h3 {font-size: 18px; text-align: center; padding-top:80px; margin-bottom: 92px;}
#container .container2 .inner2 .best {display: flex; justify-content: space-between; }
#container .container2 .inner2 .best img {border-radius: 70px;}
#container .container2 .inner2 .best img:hover { box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
#container .container2 .inner2 .best a {font-size: 16px; color: #333333; text-align: center; line-height: 30px;}
#container .container2 .inner2 .best p {padding-top: 21px; }
#container .container2 .inner2 .best a span {font-weight: 800;}


/*sub2*/
#container .inner .hand ul{ 
    width: 1280px; margin:0 auto; display: flex; 
    justify-content: space-between; margin-top: 178px; margin-bottom: 277px;
}
#container .inner .hand ul img {border-radius: 40px;}
#container .inner .hand ul img:hover {box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
#container .inner .hand ul p {text-align: center; line-height: 25px; }
#container .inner .hand ul .pp {font-weight: 600; padding-top: 25px;}

#container .inner .cus ul{ 
    width: 1280px; margin:0 auto; display: flex; 
    justify-content: space-between; margin-top: 178px; margin-bottom: 277px;
}
#container .inner .cus ul img {border-radius: 40px;}
#container .inner .cus ul img:hover {box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
#container .inner .cus ul p {text-align: center; line-height: 25px; }
#container .inner .cus ul .pp {font-weight: 600; padding-top: 25px;}

#container .inner .eye ul{ 
    width: 1280px; margin:0 auto; display: flex; 
    justify-content: space-between; margin-top: 178px; margin-bottom: 277px;
}
#container .inner .eye ul img {border-radius: 40px;}
#container .inner .eye ul img:hover {box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
#container .inner .eye ul p {text-align: center; line-height: 25px; }
#container .inner .eye ul .pp {font-weight: 600; padding-top: 25px;}



/*sub3*/
#container .inner1 {
    width: 1280px; margin: 0 auto; background: white; 
    padding-top: 148px; padding-bottom: 148px;
}
#container .inner2 {
    background: #f3f3f3; 
    padding-top: 148px; padding-bottom: 148px;
}
#container .inner2 div {width: 1280px; margin: 0 auto; }
#container .inner3 {
    width: 1280px; margin: 0 auto; background: white; 
    padding-top: 148px; padding-bottom: 148px;
}



/*sub4*/

